
@media (min-width: 992px){
.hh_login_form{
    margin-left:29% !important;
}
.hh_registration_form
{
    margin-left:29% !important;
}
}
@media (max-width:768px) {
	.well{
		margin-top:50px ;
	}

}
/*heath tips*/


@media screen and (max-width: 1600px) {
  #itemListPrimary {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
  .userItemList {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width:1200) {
  #itemListPrimary{
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
  .userItemList{
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
  .specialization_group .specialization input,.specialization_group .awards input,.specialization_group .education input,.specialization_group .experience input{
	width:60% !important;
  }
}
@media screen and (min-width:768px) and (max-width:979px)/*tab view*/
  {
  #itemListPrimary {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
    .userItemList {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
  .specialization_group .specialization input,.specialization_group .awards input,.specialization_group .education input,.specialization_group .experience input{
	width:100% !important;
  }
  .Quick_icons,.profile{
	margin-top:20px;
}
}
@media screen and (max-width:767px)/*mobile view*/ 
{
      
  #itemListPrimary {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
  #itemListPrimary .itemContainer{
	width:100% !important;
	
}
.userItemList {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
 .userItemList .itemContainer{
	width:100% !important;
	
}
.catItemView.groupPrimary{
	margin:10px 0px;
}
div.userItemView{
	width:100%;
	margin:10px 0px;
}
#menu{
	margin: 0PX -15px;
    background: #555;
}
label.rrr {
    margin-right: -158px;
    margin-left:20px;
    margin-top: 3px;
}
.login_submit_button{
	margin-left:0px;
}
#easyapp input[type="file"] {
    display: block;
    width:100% !important;
}
.specialization_group .specialization input,.specialization_group .awards input,.specialization_group .education input,.specialization_group .experience input{
	width:100% !important;
}
.profile-text{
	margin-left:0px;
}
.Quick_icons{
	margin-top:20px;
}
.profile{
	margin-top:20px;
}
 .control-label.termtext {
    margin-top: -30px;
} 
.banner_tab0_img,.banner_tab1_img,.banner_tab2_img,.banner_tab3_img{
        height:auto;
    }
.unit,.unit1,.unit2,.unit3,.unit4{
    width:290px;
    /*margin:7px 0px;*/
    padding: 69px 33px;
    }
.bm-cool-menu-trigger{
        border:0px none !important;
    }
 .Tabs{
      margin:124px 0px 60px;  
    }
}
@media screen and (min-width:980px) and (max-width:1024px)/*tab landscape css*/{
    
}